* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  padding: 30px;
  text-align: center;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
}

/* Right column */
.column.right {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.left {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
    max-width: 800px;

}

/* Style the footer */
.footer {
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

a
{
/* font-weight: bold; */
  font-style: normal;
  text-decoration:none
}

a:link          { color: rgb(205,107,47) ; }
a:visited       { color: rgb(112,128,152) ; ; }
a:active	{ color: #CCCC99 ;  }
a:hover		{ color: #CCCC99 ;  }

b
{
    color: rgb(205,107,47) ;
}
h1, h2, h3, h4
{ font-family: trebuchet MS,verdana,arial ;
  font-weight: bold;
  color: rgb(205,107,47) ;
}

h1
{ line-height: 120%;
}

/* --- no top margins for h1's that appear on top */

h1:first-child
{ margin-top: 0 !important;
}

h3, h4
{ font-style: italic;
}
